header {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background: url("./imgs/3.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin: 20px 0;
}

#cards-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
}
.card {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
  justify-content: center;
  align-items: center;
}
.card-img-1 {
  background: url("./imgs/4.jpg") no-repeat;
  width: 100%;
  background-size: 100%;
  background-position: center;
  height: 300px;
}
.card-img-2 {
  background: url("./imgs/1.jpg") no-repeat;
  width: 100%;
  background-size: 100%;
  background-position: center;
  height: 300px;
}
.card-img-3 {
  background: url("./imgs/5.jpg") no-repeat;
  width: 100%;
  background-size: 100%;
  background-position: center;
  height: 300px;
}

/* .card img {
  width: 100%;
} */

.card-text {
  padding: 20px;
  color: #45454d;
}
.card-text h3 {
  font-weight: 900;
}

footer {
  height: 100vh;
  background: url("./imgs/4.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

#offers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#offers-container h2 {
  color: #010a43;
  border-bottom: 1px solid rgba(1, 10, 67, 0.2);
  padding: 15px 0;
  width: 50%;
  margin: auto;
  text-align: center;
}

#offers-internal {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
h4 {
  color: #45454d;
}

ul {
  color: #45454d;
  text-decoration-color: #45454d;
  line-height: 2rem;
}

.offer {
  border-bottom: 1px solid rgba(1, 10, 67, 0.2);
  transition: 3s;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

@media only screen and (min-width: 1024px) {
  #cards-container {
    flex-direction: row;
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    margin: 50px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #fff;
    justify-content: center;
    align-items: center;
  }
  #offers-internal {
    flex-direction: row;
  }
  .offer {
    margin: 10px;
  }
  .offer h4 {
    text-align: center;
  }
}
